# EditorConfig - https://editorconfig.org

# Top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 2

# TypeScript files
[*.ts]
quote_type = single
indent_size = 2

# JavaScript files
[*.js]
quote_type = single
indent_size = 2

# JSON files
[*.json]
quote_type = double
indent_size = 2

# TOML config files
[*.toml]
indent_size = 2

# Markdown files
[*.md]
trim_trailing_whitespace = false
max_line_length = off

# YAML files
[*.{yml,yaml}]
indent_size = 2

# Environment files
[.env*]
indent_size = 2
